<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-3">Leandro Cruz</h1>
        <app-link-redes-sociais></app-link-redes-sociais>
        <p class="lead">Blog pessoal</p>
        <hr class="my-4">
        <fb-like href="https://leandropereiradacruz.github.io/" action="like" show-faces="true" share="true"></fb-like>
      </div>
      <div class="col-md-6">
        <blockquote class="blockquote blockquote-reverse">
          <p class="mb-0">There is no comfort zone for people who really dream.</p>
          <footer class="blockquote-footer"><cite title="Leandro Pereira da Cruz">Leandro Cruz, desenvolvedor </cite></footer>
        </blockquote>
        <blockquote class="blockquote blockquote-reverse">
          <p class="mb-0">Eu não falhei. Só descobri 10 mil caminhos que não eram o certo.</p>
          <footer class="blockquote-footer"><cite title="Thomas Edison, inventor">Thomas Edison, inventor </cite></footer>
        </blockquote>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button" title="Sobre" routerLink="/about">More About Leandro Cruz</a>
        </p>        
      </div>
    </div>
  </div>
</div>
