<div class="container">
  <div class="row">
      <div class="col">
          <p>
            Leandro Pereira da Cruz, nasceu no dia 3 de outubro de 1988 na cidade de <a href="http://montesantodeminas.mg.gov.br/" target="_blank">Monte Santo de Minas - MG</a>.
            <br>Trabalhou na empresa <a href="https://www.toninsuper.com.br/"><abbr title="Luiz Tonin Atacadista e Supermercados S/A.">Luiz Tonin</abbr></a> (nov de 2002 - ago de 2017 . 14 anos e 10 meses)
            <br>Mudou se para Franca-SP no ano de 2008.
            <br>Casou se com Fernanda Rodrigues.
            <br>Estudante do curso de Bacharelado em Sistemas de Informação na <a href="http://unifacef.com.br" target="_blank"><abbr title="Centro Universitário Municial de Franca">Uni-FACEF</abbr></a>.
            <br>Atualmente é Backend Developer na empresa Luizalabs na cidade de Franca-SP.
          </p>
      </div>
      <div class="col-md-3">
        <img src="/assets/img/leandro.jpg" class="img-fluid img-thumbnail">
      </div>
  </div>
</div>