<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/contact">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/about">Sobre</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Procurar" aria-label="Procurar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
      </form>
    </div>
  </div>
</nav>