<a target="_blank" href="mailto:leandropereiradacruz@gmail.com" class="btn btn-social-icon btn-linkedin" title="leandropereiradacruz@gmail.com">
  <span class="fa fa-envelope-o"></span>
</a>
<a target="_blank" href="https://www.facebook.com/leonciopcruz" class="btn btn-social-icon btn-facebook" title="Facebook">
  <span class="fa fa-facebook"></span>
</a>
<a target="_blank" href="https://twitter.com/leandropdacruz" class="btn btn-social-icon btn-twitter" title="Twitter">
  <span class="fa fa-twitter"></span>
</a>
<a target="_blank" href="https://plus.google.com/103231880458493736916" class="btn btn-social-icon btn-google" title="Google +">
  <span class="fa fa-google-plus"></span>
</a>
<a target="_blank" href="https://www.linkedin.com/in/leandro-pereira-da-cruz/" class="btn btn-social-icon btn-linkedin" title="Linkedin">
  <span class="fa fa-linkedin"></span>
</a>
<a target="_blank" href="https://github.com/LeandroPereiraDaCruz" class="btn btn-social-icon btn-github" title="Github">
  <span class="fa fa-github"></span>
</a>
<a target="_blank" href="tel:+5516993933482" class="btn btn-social-icon btn-whatsapp" title="(16) 99393-3482">
  <span class="fa fa-whatsapp"></span>
</a>